# ============================================
# macOS
# ============================================
.DS_Store

# ============================================
# Python
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
.dataprophet/

# ============================================
# MLflow
# ============================================
mlruns/
mlflow.db
mlflow.db-journal
mlartifacts/

# ============================================
# Dados do projeto
# ============================================
help_data/
data/
*.csv
*.parquet
*.jsonl

# ============================================
# Docker
# ============================================
docker-data/
prometheus-data/
grafana-data/

# ============================================
# Prometheus / Grafana
# ============================================
grafana.db
grafana.db-journal
prometheus.yml~

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/
*.ipynb~

# ============================================
# Logs e temporários
# ============================================
*.log
*.tmp
*.bak
*.swp

# ============================================
# IDEs
# ============================================
.vscode/
.idea/

*.pkl


# Airflow
nohup.out
airflow/
__pycache__/
*.pyc

# Dados temporários
data/retrain_dataset.csv

# MLflow local data
mlflow_data/
mlflow.db-shm
mlflow.db-wal

# Prometheus TSDB data
data/01*/
data/chunks_head/
data/wal/
data/lock
data/queries.active

# Old model files
ml1_rf_model.pkl
DataProphet_sequence_diagram.drawio
