# ============================================
# macOS
# ============================================
.DS_Store

# ============================================
# Python
# ============================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
.dataprophet/

# ============================================
# MLflow
# ============================================
mlruns/
mlflow.db
mlflow.db-journal
mlartifacts/
mlflow_data/
mlflow.db-shm
mlflow.db-wal

# ============================================
# Project data
# ============================================
help_data/
data/
*.csv
*.parquet
*.jsonl
data/retrain_dataset.csv

# ============================================
# Docker
# ============================================
docker-data/
prometheus-data/
grafana-data/

# ============================================
# Prometheus / Grafana
# ============================================
grafana.db
grafana.db-journal
prometheus.yml~

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/
*.ipynb~

# ============================================
# Logs and temporary files
# ============================================
*.log
*.tmp
*.bak
*.swp

# ============================================
# IDEs
# ============================================
.vscode/
.idea/

# ============================================
# Models / artifacts
# ============================================
*.pkl

# ============================================
# Airflow
# ============================================
nohup.out
airflow/

# ============================================
# Prometheus TSDB data
# ============================================
data/01*/
data/chunks_head/
data/wal/
data/lock
data/queries.active

# ============================================
# Draw.io source files
# ============================================
*.drawio
